{{> header}}
<main>
  <div class="conteiner">
    <div class="home">

      <h1>Explorar tu alredor</h1>
      <p>Senderos y Rutas en su maxima expresición busca crear un espacio
        para salir de lo habitual y disfrutar del poder revitalizante de la
        naturaleza. Para distrutar de una ruta de montana, un viaje de
        aventura o una caminata de senderismo todo lo que necesitas son
        ganas de explorar.</p>
      <div class="botton">
        <a class="boton" href="/places/paths">Senderos</a>
        <a class="boton" href="/places/routes">Rutas</a>
      </div>
    </div>
    <div class="homepanal">
      <img src="assets/undraw_exploring_re_grb8.svg" alt="" />
    </div>
  </div>
</main>
{{> footer}}